@use '../abstracts/variables' as v;

.bgimage {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    .container {
        background-image: none;
        padding-top: v.$thick;
        padding-bottom: v.$thick;
        .translucid-block {
            background-color: v.$light;
            opacity: 0.90;
            padding: v.$ultra_thick (v.$ultra_thick * 2);
            * {
                opacity: 1;
            }
            @media screen and (max-width: 1050px) {
                padding: v.$ultra_thick;
            }
        }
    }

}