@use '../abstracts/variables' as v;

.main-footer {
    background-color: v.$secondary_light;
    border-top: v.$standard solid v.$primary;
    display: flex;
    position: relative;
    flex-direction: column;
    .top-left {
        height: 100%;
        background-color: v.$light;
        position: absolute;
    }
    .container {
        border: initial;
        background-color: initial;
        .main-content {
            display: flex;
            flex-direction: row;
            margin: v.$thick 0;
            gap: v.$medium;
            @media screen and (max-width: 850px) {
                flex-direction: column;
                margin-bottom: 0;
            }
            .col-1 {
                @media screen and (max-width: 850px) {
                    order: 1;
                }
            }        
            .col-2 {
                @media screen and (max-width: 850px) {
                    order: 3;
                }
            }        
            .col-3 {
                @media screen and (max-width: 850px) {
                    order: 2;
                }
            }        
            .col {
                width: 33%;
                .menu-main-menu-container {
                    ul {
                        list-style: none;
                        li {
                            font-size: 0.8rem;
                            text-transform: uppercase;
                            letter-spacing: 0.15rem;
                            margin-bottom: v.$ultra_thin;
                            color: v.$dark;
                        }
                    }
                }
                .menu {
                    border-left: 1px solid v.$dark;
                    display: flex;
                    flex-direction: column;
                    @media screen and (max-width: 850px) {
                        border-top: 1px solid v.$dark;
                        border-left: none;
                        padding-inline-start: 0;
                        padding-top: v.$thick;
                    }

                }
                @media screen and (max-width: 850px) {
                    width: 100%;
                }
            }
            &.col:last-child {
                order: 2;
            }

        }
        .footer-logo {
            width: 230px;

        }
        .secondary-content {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: v.$thick 0;
            @media screen and (max-width: 850px) {
                align-items: flex-start;
                justify-content: flex-start;
                margin-top: 0;
            }
        }
    }
}

