@use '../abstracts/variables' as *;

.framed-photo {
    background-color: $secondary_light;
    display: flex;
    aspect-ratio: 9/6;
    margin: $medium 0 0 $medium;
    box-shadow: -($medium) (-$medium) $secondary;
    width: 100%;
    position: sticky;
    top: $medium;
}