@use '../abstracts/variables' as v;


.half {
    color: v.$dark;
    min-height: 100vh;
    width: 100%;
    display: flex;
    position: relative;
    gap: v.$ultra_thick;
    justify-content: center;
    overflow: hidden;
    .top-left {
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
    }
    .bottom-right {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 33%;
        z-index: 1;
        opacity: 0.5;
    }
    .container {
        margin-top: v.$ultra_thick;
    }
    .col-left, .col-right {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 50%;
        gap: v.$thick
    }
    @media screen and (max-width: 1050px) {
        flex-direction: column-reverse;
        .col-left, .col-right {
            width: 100%
        }
        .col-left {
            padding-bottom: v.$ultra_thick;
        }
    
    }

}