@use '../abstracts/variables' as *;

.main-header {
    .menu-main-menu-container {
        @media screen and (max-width: 850px) {
            display: none;
        }
    
        .menu {
            display: flex;
            margin-left: 2rem;
            text-transform: uppercase;
            gap: $medium;
            > li {
                list-style: none;
                position: relative;
                display: block;
                > a {
                    margin: $medium 0 $thin 0;
                    color: $primary;
                    font-weight: 600;
                }
                
                &:hover, &.current_page_item {
                    transition: 1s ease-in-out all;
                    &:after {
                        content: '';
                        display: flex;
                        width: 100%;
                        height: $ultra_thin;
                        background-color: $primary;
                        position: absolute;
                        bottom: -(calc($thin * 1.5));
                    }
                }
                &:hover {
                    ul {
                        display: block;
                    }
                }
                ul {
                    display: none;
                    background-color: $primary;
                    position: absolute;
                    z-index: 100;
                    top: 2rem;
                    padding-inline-start: 0;
                    width: auto;
                    min-width: 200px;
                    transition: 0.3s ease-out all;
                    > li {
                        margin: 0;
                        padding: 1rem;
                        cursor: pointer;
                        &:hover {
                            background-color: red;
                        }
                        > a {
                            color: $light;
                        }
                    }
                }
            }
        }
    }
}