@use '../abstracts/variables' as *;

.menu {
    ul {
        display: flex;
        margin-left: 2rem;
        text-transform: uppercase;
        li {
            margin: $thin $medium;
            list-style: none;
        }
    }

}