@use '../abstracts/variables' as v;
.tabs {
    padding-bottom: v.$ultra_thick;
    .container {
        .tabs-wrapper {
            display: flex;
            flex-direction: column;
            gap: v.$thin;
            .tabs-content{
                display: flex;
                flex-direction: column;
                .tab {
                    display: flex;
                    flex-direction: column;
                    gap: v.$thin;
                    img {
                        width: 100%;
                        aspect-ratio: 9/3;
                        object-fit: cover;
                        object-position: center;
                        @media screen and (max-width: 850px) {
                            aspect-ratio: 9/6;
                        }
        
                    }
                    .caption {
                        display: flex;
                        flex-direction: row;
                        align-items: flex-end;
                        justify-content: space-between;
                        padding: v.$medium;
                        background-color: v.$secondary_light;
                        p {
                            max-width: 50%;
                        }
                        .btn {
                            font-size: 0.6rem;
                            text-align: center;
                            margin-left: auto;
                            padding: v.$ultra_thin v.$standard;
                            border: 2px solid;
                            letter-spacing: 0.1rem;
                        }
                        @media screen and (max-width: 580px) {
                            flex-direction: column;
                            p {
                                max-width: 100%;
                                margin-bottom: v.$thick;
                            }
                        }
                    }
                }
            }
            .buttons {
                padding-inline-start: 0;
                margin-block-start: 0;
                margin-block-end: 0;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: v.$thin;
                list-style: none;
                li {
                    padding: v.$medium;
                    text-transform: uppercase;
                    font-weight: 600;
                    cursor:default;
                }
                .active {
                    background-color: v.$primary;
                    color: v.$light;
                }
                .inactive {
                    background-color: v.$secondary_light;
                }
                @media screen and (max-width: 850px) {
                    grid-template-columns: repeat(1, 1fr);
                }
                
            }
        }
    }

    .btn-see-all {
        margin-left: auto;
        margin-bottom: v.$standard;
    }
}




