@use '../abstracts/variables' as v;


.third {
    color: v.$dark;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: v.$ultra_thick;
    overflow: hidden;
    .top-left {
        position: absolute;
        top: 0;
        left: 0;
        width: 33%;
    }
    .bottom-right {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 33%;
    }
    .container {
        margin-top: v.$ultra_thick;
        margin-bottom: v.$ultra_thick;
    }
    .col-left, .col-right {
        width: 50%
    }
}