@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Barlow", sans-serif;
  color: #939290;
}

h1, h2, h3, h4, h5 {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  letter-spacing: 0.1rem;
  line-height: 1.1;
  margin-top: 0;
}

p {
  margin-top: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

a {
  color: inherit;
}

h1 {
  font-size: 2rem;
}

.container {
  all: inherit;
  width: 1280px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}

.highlighted {
  font-weight: 600;
  font-size: 1.4rem;
}

.grey-block {
  background-color: #F6F6F6;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.centered {
  display: block;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.two-videos {
  padding-bottom: 4rem;
  display: flex;
  gap: 2rem;
}
.two-videos .container .videos-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 100%;
  gap: 2rem;
}
.two-videos .container .videos-wrapper video {
  display: flex;
  width: 100%;
}
@media screen and (max-width: 690px) {
  .two-videos .container .videos-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}

.btn {
  color: #D0383B;
  padding: 1rem 2rem;
  border: 0.25rem solid;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 0.3s ease-out;
}
.btn:hover {
  color: #ffffff;
  background-color: #D0383B;
  border-color: #D0383B;
}

.hero .container-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.hero .container-wrapper .bottom-right {
  position: absolute;
  height: 100%;
  background-color: #F6F6F6;
  right: 0;
  bottom: 0;
}
.hero h1, .hero h2 {
  margin-bottom: 0;
  max-width: 60%;
  text-transform: uppercase;
}
@media screen and (max-width: 580px) {
  .hero h1, .hero h2 {
    max-width: 100%;
  }
}
.hero h2 {
  color: #D0383B;
  text-transform: uppercase;
}

.home-hero {
  display: flex;
  height: 50vh;
  width: 100%;
  background-color: #D0383B;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 25vh 100%, 0 50%, 0 0);
          clip-path: polygon(100% 0, 100% 100%, 25vh 100%, 0 50%, 0 0);
}
.home-hero img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.page-hero {
  display: flex;
  height: 50vh;
  width: 100%;
  background-color: #D0383B;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 25vh 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 25vh 100%);
}
.page-hero img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

@media screen and (max-width: 850px) {
  .main-header .menu-main-menu-container {
    display: none;
  }
}
.main-header .menu-main-menu-container .menu {
  display: flex;
  margin-left: 2rem;
  text-transform: uppercase;
}
.main-header .menu-main-menu-container .menu li {
  margin: 2rem 1rem 0.5rem 1rem;
  list-style: none;
  position: relative;
}
.main-header .menu-main-menu-container .menu li:hover, .main-header .menu-main-menu-container .menu li.current_page_item {
  transition: 1s ease-in-out all;
}
.main-header .menu-main-menu-container .menu li:hover a, .main-header .menu-main-menu-container .menu li.current_page_item a {
  color: #D0383B;
  font-weight: 600;
}
.main-header .menu-main-menu-container .menu li:hover:after, .main-header .menu-main-menu-container .menu li.current_page_item:after {
  content: "";
  display: flex;
  width: 100%;
  height: 0.25rem;
  background-color: #D0383B;
  position: absolute;
  bottom: -0.75rem;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-header .main-logo {
  width: 124px;
}
.main-header .main-logo img {
  max-width: 100%;
}

.top-left {
  background-color: #F6F6F6;
  display: flex;
  aspect-ratio: 1;
  -webkit-clip-path: polygon(0 0, 100% 0, 0 100%);
          clip-path: polygon(0 0, 100% 0, 0 100%);
}

.bottom-right {
  background-color: #F6F6F6;
  display: flex;
  aspect-ratio: 1;
  -webkit-clip-path: polygon(0 100%, 100% 0, 100% 100%);
          clip-path: polygon(0 100%, 100% 0, 100% 100%);
}

.half {
  color: #000000;
  min-height: 100vh;
  width: 100%;
  display: flex;
  position: relative;
  gap: 4rem;
  justify-content: center;
}
.half .top-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
}
.half .bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 33%;
  z-index: 1;
  opacity: 0.5;
}
.half .container {
  margin-top: 4rem;
}
.half .col-left, .half .col-right {
  width: 50%;
}
@media screen and (max-width: 1050px) {
  .half {
    flex-direction: column-reverse;
  }
  .half .col-left, .half .col-right {
    width: 100%;
  }
}

.third {
  color: #000000;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 4rem;
}
.third .top-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 33%;
}
.third .bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 33%;
}
.third .container {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.third .col-left, .third .col-right {
  width: 50%;
}

.framed-photo {
  background-color: #939290;
  display: flex;
  aspect-ratio: 9/6;
  margin: 2rem 0 0 2rem;
  box-shadow: -2rem -2rem #000000;
  width: 100%;
  position: sticky;
  top: 2rem;
}

.main-footer {
  background-color: #F6F6F6;
  border-top: 1rem solid #D0383B;
  display: flex;
  position: relative;
  flex-direction: column;
}
.main-footer .top-left {
  height: 100%;
  background-color: #ffffff;
  position: absolute;
}
.main-footer .container {
  border: initial;
  background-color: initial;
}
.main-footer .container .main-content {
  display: flex;
  flex-direction: row;
  margin: 3rem 0;
  gap: 2rem;
}
@media screen and (max-width: 850px) {
  .main-footer .container .main-content {
    flex-direction: column;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 850px) {
  .main-footer .container .main-content .col-1 {
    order: 1;
  }
}
@media screen and (max-width: 850px) {
  .main-footer .container .main-content .col-2 {
    order: 3;
  }
}
@media screen and (max-width: 850px) {
  .main-footer .container .main-content .col-3 {
    order: 2;
  }
}
.main-footer .container .main-content .col {
  width: 33%;
}
.main-footer .container .main-content .col .menu-main-menu-container ul {
  list-style: none;
}
.main-footer .container .main-content .col .menu-main-menu-container ul li {
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  margin-bottom: 0.25rem;
  color: #000000;
}
.main-footer .container .main-content .col .menu {
  border-left: 1px solid #000000;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 850px) {
  .main-footer .container .main-content .col .menu {
    border-top: 1px solid #000000;
    border-left: none;
    padding-inline-start: 0;
    padding-top: 3rem;
  }
}
@media screen and (max-width: 850px) {
  .main-footer .container .main-content .col {
    width: 100%;
  }
}
.main-footer .container .main-content.col:last-child {
  order: 2;
}
.main-footer .container .footer-logo {
  width: 230px;
}
.main-footer .container .secondary-content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem 0;
}
@media screen and (max-width: 850px) {
  .main-footer .container .secondary-content {
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 0;
  }
}

.bgimage {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.bgimage .container {
  background-image: none;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.bgimage .container .translucid-block {
  background-color: #ffffff;
  opacity: 0.9;
  padding: 4rem 8rem;
}
.bgimage .container .translucid-block * {
  opacity: 1;
}
@media screen and (max-width: 1050px) {
  .bgimage .container .translucid-block {
    padding: 4rem;
  }
}

.grid {
  gap: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.grid .service-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.grid .service-card img {
  max-width: 100%;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 3rem 100%, 0 calc(100% - 3rem));
          clip-path: polygon(0 0, 100% 0, 100% 100%, 3rem 100%, 0 calc(100% - 3rem));
  aspect-ratio: 9/6;
  -o-object-fit: cover;
     object-fit: cover;
}
.grid .service-card .card-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: #F6F6F6;
  padding: 2rem;
}
@media screen and (max-width: 950px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 790px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 480px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.filtered-grid {
  gap: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.filtered-grid .service-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.filtered-grid .service-card img {
  max-width: 100%;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 3rem 100%, 0 calc(100% - 3rem));
          clip-path: polygon(0 0, 100% 0, 100% 100%, 3rem 100%, 0 calc(100% - 3rem));
  aspect-ratio: 9/6;
  -o-object-fit: cover;
     object-fit: cover;
}
.filtered-grid .service-card .card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  background-color: #F6F6F6;
  padding: 2rem;
}
.filtered-grid .service-card .card-content .btn {
  font-size: 0.6rem;
  text-align: center;
  margin-left: auto;
  padding: 0.25rem 1rem;
  border: 2px solid;
  letter-spacing: 0.1rem;
}
@media screen and (max-width: 950px) {
  .filtered-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 790px) {
  .filtered-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 480px) {
  .filtered-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.tabs {
  padding-bottom: 4rem;
}
.tabs .container .tabs-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.tabs .container .tabs-wrapper .tabs-content {
  display: flex;
  flex-direction: column;
}
.tabs .container .tabs-wrapper .tabs-content .tab {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.tabs .container .tabs-wrapper .tabs-content .tab img {
  width: 100%;
  aspect-ratio: 9/3;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media screen and (max-width: 850px) {
  .tabs .container .tabs-wrapper .tabs-content .tab img {
    aspect-ratio: 9/6;
  }
}
.tabs .container .tabs-wrapper .tabs-content .tab .caption {
  padding: 2rem;
  padding-right: 50%;
  background-color: #F6F6F6;
}
.tabs .container .tabs-wrapper .buttons {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  list-style: none;
}
.tabs .container .tabs-wrapper .buttons li {
  padding: 2rem;
  text-transform: uppercase;
  font-weight: 600;
  cursor: default;
}
.tabs .container .tabs-wrapper .buttons .active {
  background-color: #D0383B;
  color: #ffffff;
}
.tabs .container .tabs-wrapper .buttons .inactive {
  background-color: #F6F6F6;
}
@media screen and (max-width: 850px) {
  .tabs .container .tabs-wrapper .buttons {
    grid-template-columns: repeat(1, 1fr);
  }
}
.tabs .btn-see-all {
  margin-left: auto;
  margin-bottom: 1rem;
}

.features {
  display: flex;
  gap: 3rem;
  background-position: center;
  background-size: cover;
  position: relative;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.features:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  opacity: 0.75;
  z-index: 0;
  top: 0;
  left: 0;
}
.features .container {
  z-index: 1;
  background-image: none;
}
.features .container .feature-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  background-color: #F6F6F6;
  width: 33%;
  padding: 2rem 2rem 3rem 2rem;
}
.features .container .feature-card h3 {
  color: #D0383B;
  font-weight: 600;
}
.features .container .feature-card p {
  color: #000000;
}
.features .container .feature-card img {
  aspect-ratio: 1;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0 auto;
  width: 6rem;
}
@media screen and (max-width: 850px) {
  .features .container .feature-card div {
    flex-grow: 1;
  }
}
@media screen and (max-width: 850px) {
  .features .container .feature-card {
    width: 100%;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
  }
}
@media screen and (max-width: 550px) {
  .features .container .feature-card {
    flex-direction: column;
  }
}
@media screen and (max-width: 850px) {
  .features {
    flex-direction: column;
  }
}

.gallery-slideshow {
  position: relative;
  list-style: none;
  background: #000000;
  overflow: hidden;
  min-width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}
.gallery-slideshow > img {
  margin: 0;
  padding: 0;
}

.gallery-slideshow li img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

/*gallery controls*/
.gallery-control {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  width: 40px;
  height: 40px;
  background: rgba(0, 0, 0, 0.8);
  margin: auto;
  cursor: pointer;
}

.gallery-control.prev {
  left: -5px;
}

.gallery-control.next {
  right: -5px;
}

.gallery-control.trigger {
  left: 0;
  right: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.gallery-control:after {
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  content: "";
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  border-style: solid;
  border-color: transparent;
}

.gallery-control.prev:after {
  border-width: 10px 15px 10px 0px;
  border-right-color: #ffffff;
}

.gallery-control.next:after {
  border-width: 10px 0px 10px 15px;
  border-left-color: #ffffff;
}

.gallery-control.trigger.pause:after {
  border-style: double;
  border-width: 0px 0px 0px 20px;
  border-color: #ffffff;
}

.gallery-control.trigger.play:after {
  left: 5px;
  border-width: 10px 0px 10px 20px;
  border-left-color: #ffffff;
}

/*gallery navigation*/
.gallery-slideshow .gallery-navbar {
  position: absolute;
  bottom: 5%;
  width: 100%;
  text-align: center;
}

.gallery-navbar li {
  all: unset;
  position: relative;
  display: inline-block;
  width: 15px;
  height: 15px;
  background: rgba(255, 255, 255, 0.5);
  margin: 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  cursor: pointer;
}

.gallery-navbar li.active {
  background: rgb(255, 255, 255);
}

/**STATES**/
.gallery-navbar li:hover, .gallery-control:hover {
  transform: scale(0.9);
}

.gallery-navbar li:hover {
  background: rgba(255, 255, 255, 0.8);
}

.gallery-navbar li:active, .gallery-control:active {
  transform: scale(0.8);
}/*# sourceMappingURL=main.css.map */